# command line
click~=8.2

# expected switch to the version numpy~=2.0
numpy>=1.24.3,<=2.3.0
pandas~=2.3

pyarrow~=20.0
#pyarrow==16.1.0

# generation of synthetic data
faker~=37.3

packaging>=21.3

# test coverage
coverage>=7
coverage-badge>=1

pympler==1.0.1
