# command line
click~=8.1

# expected switch to the version numpy~=2.0
numpy~=2.O
pandas==2.2.2
pyarrow==16.1.0

# generation of synthetic data
faker~=27.0

packaging>=21.3

# test coverage
coverage>=7
coverage-badge>=1

pympler==1.0.1
